<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Permissions only for full (RuStore/4PDA/GitHub) variant -->
    <!-- Torrent client needs internet (already in main) -->
    <!-- Hidden camera on wrong PIN -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- Floating window -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

</manifest>
